<!--section>
    Interpolação e Property Binding
    <article>
        <h3>Interpolação</h3>
        <p>String renderizada com Interpolação: {{ url }}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
    </article-->
    <!--Aula Binding de Classe e de estilo
    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

            Colorindo a mensagem conforme a seleção no dropdown
            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
                Sucesso
            </div>
            <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
                Info
            </div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
                Alerta
            </div>
            <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
                Erro
            </div>

            Colorindo um texto conforme a seleção no dropdown
            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme valor selecionado no combobox.
            </div>

            Binding de estilo alterando o aparrecimento ou não da div
            <div class="alert alert-danger" role="alert" 
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto somente aparece em caso de erro.
            </div>
        </div>
    </article-->
    <!--article>
        <h3>Event Binding</h3>
        <div>
            <button class="btn btn-primary" (click)="botaoClicado()">
                Me clique!
            </button>
        </div>
        <br><br>

        Inclui um campo input e fica escutando cada vez que uma tecla é digitada
            chama o metodo onKeyUp passando o evento como parâmetro
        <input type="text" (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput />

        <p>Valor atual: {{ valorAtual }}</p>
        <p>Valor salvo: {{ valorSalvo }}</p>
        <br><br>
        Escutando Eventos do mouse
        <span
            (mouseover)="onMouseOverOut()"
            (mouseout)="onMouseOverOut()"
            [class.highlight]="isMouseOver">
            Passe o mouse sobre mim
        </span>
    </article>
</section-->

<!--app-meu-form></app-meu-form-->

<section class="input-output-properties">
    <article>
        <h3>Input/Output Properties</h3>

        <app-curso [nome]="nomeDoCurso"></app-curso>

        <contador [valor]="valorInicial"
            (mudouValor)="onMudouValor($event)">
        </contador>

    </article>
</section>
